* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

lottie-player {
    height: 30rem;
    width: auto;
}

a.btn {
    transition: .3s !important;
}

.topic-boxes {
    background-color: #282b30;
}

footer {
    padding: 10px 0;
}

footer > p {
    margin: 0;
}