.presentation{
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
}


.presentation-text {
    max-width: 50rem;
    margin: 0 1rem;
}

.topic-boxes {
    justify-content: space-evenly;
}

.topic {
    min-height: 12rem;
    cursor: auto !important;
}

.topic > img {
    height: 8rem;
}

.topic-text {
    max-width: 80% !important;
}

div.btn {
    transition: .3s !important;
    padding: 1rem 1.75rem;
}

@media (max-width: 1500px) {
    .presentation-text > h1{
        font-size: 1.75rem;
    }

    .presentation-text > p{
        font-size: 1.5rem !important;
    }
}

@media (max-width: 768px) {
    .presentation {
        min-height: 75vh;
    }
    .presentation-text > h1{
        font-size: 1.5rem;
    }

    .presentation-text > p{
        font-size: 1.25rem !important;
    }
}